
# Ignore compiled library.
lib/*

# Ignore binaries.
bin/*

# Ignore cmake files.
CMakeFiles/*
Testing/*
CMakeCache.txt
CTestTestfile.cmake
Makefile
cmake_install.cmake

# Ignoring documentation.
doc/*
